* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 15px 30px;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
}
